@import url("https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap");

.avatar img {
    border-radius: 50%;
}

@import "gruvbox";

$main-accent: $neutral-orange;
$background-accent: $light0;
$button-secondary: #f2f0ed;
$link-color: #2793cf;
$font-main: $dark0;
$font-reduced: $dark2;

$dark-background: $dark1;
$dark-font-main: $light0;

$space-xxs: 4px;
$space-xs: 6px;
$space-s: 8px;
$space-m: 16px;
$space-xm: 20px;
$space-l: 32px;

@mixin heading($size) {
    font-family: "Zilla Slab";
    font-size: $size;
}

@mixin font-secondary {
    color: $font-reduced;
    font-size: 16px;
}

@mixin font-main {
    font-family: "sans serif";
    color: $font-main;
    font-size: 18px;
}

@mixin main-margins {
    margin: $space-m $space-xm;
}

@mixin main-paddings {
    padding: $space-m $space-xm;
}

html,
body {
    margin: 0;
    padding: 0;
    @include font-main;
}

h1 {
    @include heading(36px);
}
h2 {
    @include heading(30px);
}
h3 {
    @include heading(24px);
}

// Utility

@mixin hide-scrollbars-but-scrollable {
    // https://stackoverflow.com/a/38994837

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}

// Content Design

.main-content::before {
    display: block;
    height: $space-s;
    width: 100%;
    background-color: $main-accent;
    content: "";
}

nav {
    padding: $space-m;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .blog-title {
        font-size: 24px;
        color: $main-accent;
        font-weight: bold;
        font-family: "Zilla Slab";
        text-decoration: none;
        margin-right: auto;
    }

    .all-posts {
        // TODO: Redesign this. This looks awful.
        // Maybe try this kind of border-bottom-navigation style?
        // (Would that conflict with the ::before accent?)
        text-decoration: none;
        color: $link-color;
        padding: $space-xs;
        background-color: $button-secondary;
        border-radius: $space-xxs;
    }
}

article {
    max-width: 800px;
    margin: 0 auto;

    h1.post-title {
        padding: $space-m $space-xm;
        background-color: $background-accent;
        margin: 0;
        text-align: center;
        font-weight: bold;
    }

    .header {
        section.meta {
            @include font-secondary;
            @include main-margins;
            text-align: center;
            font-style: italic;
        }

        img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
    }

    .content {
        line-height: 150%;

        p {
            @include main-margins;
        }

        figure {
            img,
            video {
                display: block;
                max-width: 100%;
                max-height: 720px;
                margin: 0 auto;
            }
            margin: $space-m 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: middle;
        }

        figcaption {
            @include font-secondary;
            text-align: center;
            margin: 0;
        }

        h2,
        h3 {
            margin-left: $space-m;
            position: relative;

            &::before {
                display: block;
                width: $space-s;
                left: -$space-m;
                top: 0;
                bottom: 0;
                position: absolute;
                content: "";
            }
        }

        h2::before {
            background-color: $main-accent;
        }

        h3::before {
            background-color: $gray;
        }

        h4 {
            margin-left: $space-l;
        }

        .carusel {
            display: flex;
            flex-direction: row;
            max-width: 100%;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;

            // TODO
            border: $space-m solid $light0;
            @include hide-scrollbars-but-scrollable;

            > * {
                min-width: 100%;
                margin: auto 0;
                scroll-snap-align: start;
            }
        }

        .carusel-container {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            > .dots {
                display: flex;
                flex-direction: row;
                margin: 2px auto;

                > .dot {
                    display: inline-block;
                    border-radius: 7px;
                    width: 14px;
                    height: 14px;
                    margin: 2px;
                    box-sizing: border-box;
                    border: 1.5px solid $dark2;
                }
            }
        }
    }
}

section.edit-on-github {
    max-width: 800px - $space-m * 2;
    margin: 0 auto;
    box-sizing: content-box;

    @include font-secondary;
    @include main-paddings;
}

footer {
    width: 100%;

    background-color: $dark-background;
    color: $dark-font-main;

    form {
        max-width: 800px - $space-m * 2;
        margin: 0 auto;

        @include main-paddings;

        > p.inputs {
            display: flex;

            > input,
            > button {
                @include font-secondary;
                border-radius: 0;
                padding: $space-xs $space-m;
                height: $space-l;
                box-sizing: content-box;
                background-color: $light0;
                border: none;
            }

            > input {
                flex: 1 1 100%;
                margin-right: $space-xs;
                min-width: 40px;
            }

            > button {
                flex: 0 0 auto;
                transition: 200ms ease-in-out;
                transition-property: background-color color;
                font-weight: bold;
                color: $main-accent;

                &:hover {
                    background-color: $main-accent;
                    color: $light0;
                }
            }
        }
    }
}
